attrs==19.3.0
backcall 
bleach 
boto3 
botocore 
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
cftime
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
ffmpeg-python==0.2.0
flake8==3.8.3
future==0.18.2
idna
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi
Jinja2==2.11.2
jmespath
jsonschema==3.2.0
jupyter-client
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat
netCDF4
notebook
numpy
packaging
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client
prompt-toolkit
ptyprocess==0.6.0
pycodestyle==2.6.0
pycparser
pyflakes==2.2.0
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pyzmq==19.0.1
qtconsole
QtPy==1.9.0
s3transfer==0.3.3
Send2Trash==1.5.0
six
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
tqdm
traitlets==4.3.3
urllib3==1.25.9
wcwidth
webencodings==0.5.1
widgetsnbextension
zipp==3.1.0
